@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

.root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condesed" sans-serif;
  background-color: black;
}
.App {
  background-color: black;
  background: rgb(33, 37, 41);
  background: linear-gradient(
    171deg,
    rgba(33, 37, 41, 1) 49%,
    rgba(47, 108, 179, 1) 100%
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
}

/************ NavBar******************/

.logo {
  width: 16 rem;
}
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
  margin-left: 3px;
  margin-right: 3px;
}

/************ Header ******************/

.header-wraper {
  background: url(/src/assets/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Roboto Condesed" sans-serif;
}
.main-info h1 {
  color: #2f6cb3;
  text-transform: uppercase;
}
/***************************** type text *********************/
.typed-text {
  font-size: 2rem;
  color: #fff;
  z-index: 12;
}

/***************************** Particles JS *********************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.divprimary {
  background-color: #202124;
}

.divsecondary {
  background-color: #171717;
}
.nick {
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS */

.btn {
  z-index: 90;
}
.logo {
  width: 90px;
}

.divOpacity {
  background-color: rgba(0, 0, 0, 0.7);
}

h4 {
  font-family: "Lora", serif;
}
